<title>My application deployed automatically</title>
<center>
<div style="text-align:center;font-size:40px;color:#131313;text-shadow: 2px 0 .2px #FF0000, -2px 0 .2px #00F1F5;">
            <h1>HELLO FRIEND.</h1>
</div>
<div style="width:500px;margin-left:250px;font-size:15px;font-family:verdana;color:#232323;text-align:justify;">
  Input1 is an array of strings that are seperated by a newline character.<br>
  Input2 and Input3 are the limits.<br>
  This page's aim is to find the strings in the array that are in between the limit integers(by string length).<br>
  Result is {{result}} .
</div>
<div style="text-align:center;">
  <form action="compute" method="post">
        <textarea name="input1" rows="20" cols="30">
        </textarea>
        <textarea name="input2" rows="20" cols="30">
        </textarea>
    <textarea name="input3" rows="20" cols="30">
        </textarea>
        <br>
        <input type="submit">
          </input>
    </br>
  </form>
  </div>
  
</center>
